<nav>
  <ul>
    <li><a [routerLink]="['/blog-post']" routerLinkActive="router-link-active" >Blog</a></li>
    <li><a [routerLink]="['prueba']">Prueba</a></li>
  </ul>
</nav>
<section>
  @if (doesUserexist) {<app-user (occupationChange)="receiveEmission($event)" [occupation]="occupation" />} @else {
      <p>user does not exist</p>
      }
      
      <h2>Operating systems</h2>
      @for (item of operatingystems; track item.id) {
      <ul>
        <li (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()"> {{message}} {{ item.name }}</li>
      </ul>
      }
      <!--H2-->
      <h2>Names</h2>
      @for (item of names; track $index) {
      <ul>
        <li>{{ item }}</li>
      </ul>
      }
</section>
<section>
  <div style="border: 1px solid black;" [contentEditable]="isEditable">

  </div>
</section>






<router-outlet></router-outlet>
